.idea/
project/clevercare-client/node_modules/
project/clevercare-server/node_modules/
*.log
project/clevercare-client/public/videos/What is Type 1 Diabetes Diabetes explained for children - Ask Dr.Smarty.mp4