<div id="addPatientformdiv" ng-controller="addpatientController">
    <div class="container bootcards-container" id="main">
        <form ng-submit="addPatient()">
            <div class="col-sm-6 col-sm-offset-1 bootcards-cards">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h2 class="panel-title pull-left"><b>Add a Patient</b></h2>
                        <br><br>
                    </div>
                    <!-- <form ng-submit="addUser()"> -->
                    <div class="list-group">
                        <div class="list-group-item">
                            <label class="list-group-item-text">First Name</label>
                            <div class="list-group-item-heading">
                                <input type="text" class="form-control" required ng-model="patient.firstName"/>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <label class="list-group-item-text">Last Name</label>
                            <div class="list-group-item-heading">
                                <input type="text" class="form-control" required ng-model="patient.lastName"/>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <label class="list-group-item-text">Email</label>
                            <div class="list-group-item-heading">
                                <input type="email" width="100" class="form-control" required ng-model="patient.email"/>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <label class="list-group-item-text">disease</label>
                            <div class="list-group-item-heading">
                                <input type="text" class="form-control" ng-model="patient.disease"/>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <label class="list-group-item-text">dischargeNote</label>
                            <div class="list-group-item-heading">
                                <input type="text" class="form-control" ng-model="patient.dischargeNote"/>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item">
                                <label class="list-group-item-text">Doctor</label>
                                <div class="list-group-item-heading">
                                    <select name="video" id="video"
                                            ng-options="doctorOption.doctorName for doctorOption in patient.doctorOption"
                                            ng-model="patient.doctorSelected">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <label class="list-group-item-text">phone</label>
                            <div class="list-group-item-heading">
                                <input type="text" class="form-control" required ng-model="patient.phone"/>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <label class="list-group-item-text">Gender</label>
                            <div class="list-group-item-heading">
                                <label>
                                    <input type="radio" ng-model="patient.gender" value="Male"/>
                                    Male</label><br>
                                <label>
                                    <input type="radio" ng-model="patient.gender" value="Female"/>
                                    Female</label><br>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <label class="list-group-item-text">age</label>
                            <div class="list-group-item-heading">
                                <input type="number" class="form-control" required ng-model="patient.age"/>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <label class="list-group-item-text">address</label>
                            <div class="list-group-item-heading">
                                <input type="text" class="form-control" ng-model="patient.address"/>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <label class="list-group-item-text">Admisson Type</label>
                            <div class="list-group-item-heading">
                                <select name="admissionType" id="admissionType"
                                        ng-options="admissionTypeOption for admissionTypeOption in patient.admissionTypeOption"
                                        ng-model="patient.admissionTypeSelected"
                                        >
                                </select>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <input type="submit" value="Add patient" class="btn btn-primary"/>
                        </div>
                        <div class="list-group-item" ng-show="isPatientAdded">
                            <div class="alert alert-success">
                                <strong>Patient added successfully!</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>