<!--usertype= 'admin' 'nurse' 'inPatient' 'doctor' -->

<div id="dashboardDiv" ng-controller="dashboardController">

    <div class="container bootcards-container" id="main">

        <div class="row">

            <div class="bootcards-cards ">
                <div>
                    <div class="col-sm-4 ">

                        <div class="panel panel-default bootcards-summary">

                            <div class="panel-heading">
                                <h3 class="panel-title">Dashboard</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6"
                                         ng-show="(userdata.usertype == 'nurse') ||( userdata.usertype == 'doctor')">
                                        <a class="bootcards-summary-item" href="#patients"
                                           data-title="Patients" style="padding-top:35px;">
                                            <i class="fa fa-3x fa-users"></i>
                                            <h4>
                                                Patients
                                                <span class="label label-info">{{dashboardData.patientCount}}</span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="col-xs-6 col-sm-6"
                                         ng-show="userdata.usertype == 'nurse' || userdata.usertype == 'doctor'">
                                        <a class="bootcards-summary-item" href="#notes"
                                           data-title="Notes" style="padding-top:35px;">
                                            <i class="fa fa-3x fa-building-o"></i>
                                            <h4>
                                                Notes
                                                <span class="label label-info">{{dashboardData.noteCount}}</span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="col-xs-6 col-sm-6" ng-show="userdata.usertype == 'doctor'">
                                        <a class="bootcards-summary-item" href="#video"
                                           data-title="Notes" style="padding-top:35px;">
                                            <i class="fa fa-3x fa-building-o"></i>
                                            <h4>
                                                Educational Content
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="col-xs-6 col-sm-6" ng-show="userdata.usertype == 'admin'">
                                        <a class="bootcards-summary-item" ng-click="addUser('nurse')"
                                           data-title="Notes" style="padding-top:35px;">
                                            <i class="fa fa-3x fa-building-o"></i>
                                            <h4>
                                                Add Outpatient Member
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="col-xs-6 col-sm-6" ng-show="userdata.usertype == 'admin'">
                                        <a class="bootcards-summary-item" ng-click="addUser('doctor')"
                                           data-title="Notes" style="padding-top:35px;">
                                            <i class="fa fa-3x fa-building-o"></i>
                                            <h4>
                                                Add Doctor
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- first chart -->

                <div class="col-sm-3  bootcards-cards"
                     ng-show="userdata.usertype == 'nurse' || userdata.usertype == 'doctor'">

                    <div class="panel panel-default bootcards-chart">

                        <div class="panel-heading">
                            <h3 class="panel-title">Progress</h3>
                        </div>
                        <div>
                            <div
                                    donut-chart
                                    donut-data=dashboardData.nurseProgressChartData
                                    donut-label-color='"#000000"'
                                    donut-background-color='"#ffffff"'
                                    donut-colors='["#31C0BE","RED"]'
                                    class="bootcards-chart-canvas ">
                            </div>

                        </div>
                    </div>

                </div>

                <!-- first chart -->
                <!-- recent 5 list -->
                <div class="col-sm-5 bootcards-cards"
                     ng-show="userdata.usertype == 'nurse' || userdata.usertype == 'doctor'">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Next {{dashboardData.recentPatientCount}} patients to be
                                reviewed</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr class="active">
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Due date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="x in dashboardData.recentFivePatient">
                                    <td>{{x.name}}</td>
                                    <td>{{x.status}}</td>
                                    <td>{{x.lastVisit}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 bootcards-cards" ng-show="userdata.usertype == 'admin'">
                    <div
                            bar-chart
                            bar-data=dashboardData.totalreviewsData
                            bar-x='name'
                            bar-y='["reviewsdone", "reviewspending"]'
                            bar-labels='["Reviewed ", "Pending"]'
                            bar-colors='["#31C0BE", "#c7254e"]' class="bootcards-chart-canvas">
                    </div>
                </div>

                <!--   <div class="col-sm-4 bootcards-cards" ng-show="userdata.usertype == 'admin'">
                       <div line-chart
                            line-data=dashboardData.reaadmissionovertimedata
                            line-xkey='month1'
                            line-ykeys='["cases"]'
                            parse-time="false"
                            line-labels='["cases" ]'
                            line-colors='["#31C0BE"]' class="bootcards-chart-canvas">
                       </div>
                   </div>-->
                <div class="col-sm-4 bootcards-cards" ng-show="userdata.usertype == 'admin'">
                    <div id="container" style="min-width: 350px; height: 350px; max-width: 350px; margin: 0 auto"></div>
                </div>
                <!-- recent 5 list -->
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">

    $(function () {

        $(document).ready(function () {

            $.get("http://localhost:3000/predictionAnalysis", function (data, status) {
                /* global document */
// Load the fonts
                Highcharts.createElement('link', {
                    href: 'https://fonts.googleapis.com/css?family=Dosis:400,600',
                    rel: 'stylesheet',
                    type: 'text/css'
                }, null, document.getElementsByTagName('head')[0]);


                Highcharts.theme = {
                    colors: ['#7cb5ec', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',
                        '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
                    chart: {
                        backgroundColor: null,
                        style: {
                            fontFamily: 'Dosis, sans-serif'
                        }
                    },
                    title: {
                        style: {
                            fontSize: '16px',
                            fontWeight: 'bold',
                            textTransform: 'uppercase'
                        }
                    },
                    tooltip: {
                        borderWidth: 0,
                        backgroundColor: 'rgba(219,219,216,0.8)',
                        shadow: false
                    },
                    legend: {
                        itemStyle: {
                            fontWeight: 'bold',
                            fontSize: '13px'
                        }
                    },
                    xAxis: {
                        gridLineWidth: 1,
                        labels: {
                            style: {
                                fontSize: '12px'
                            }
                        }
                    },
                    yAxis: {
                        minorTickInterval: 'auto',
                        title: {
                            style: {
                                textTransform: 'uppercase'
                            }
                        },
                        labels: {
                            style: {
                                fontSize: '12px'
                            }
                        }
                    },
                    plotOptions: {
                        candlestick: {
                            lineColor: '#404048'
                        }
                    },


                    // General
                    background2: '#F0F0EA'

                };

                // Apply the theme
                Highcharts.setOptions(Highcharts.theme);
                Highcharts.chart('container', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: 'Prediction analysis'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        name: 'Patients',
                        colorByPoint: true,
                        data: [{
                            name: '0-25%',
                            y: data.first
                        }, {
                            name: '26-50%',
                            y: data.second
                        }, {
                            name: '51-75%',
                            y: data.third
                        }, {
                            name: '76-100%',
                            y: data.fourth
                        }]
                    }]
                });
            });
            // Build the chart

        });
    });
</script>

