<!DOCTYPE html>
<html lang="en" ng-app="rhrApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">-->

    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!-- Icons -->
    <link rel="shortcut icon" sizes="196x196" href="/bootcards-demo-app/images/apple-touch-icon-144x144.png">
    <link rel="shortcut icon" sizes="128x128" href="/bootcards-demo-app/images/apple-touch-icon-120x120.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon" sizes="120x120" href="/bootcards-demo-app/images/apple-touch-icon-120x120.png">
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon" sizes="144x144" href="/bootcards-demo-app/images/apple-touch-icon-144x144.png">

    <!-- Splash Screen Images -->
    <!-- iOS 6 & 7 iPad (retina, portrait) -->
    <link href="/bootcards-demo-app/images/bootcards-splash-768x1004@2x.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: portrait)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 & 7 iPad (retina, landscape) -->
    <link href="/bootcards-demo-app/images/bootcards-splash-1024x748@2x.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: landscape)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 iPad (portrait) -->
    <link href="/bootcards-demo-app/images/bootcards-splash-1024x748.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: portrait)
             and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 iPad (landscape) -->
    <link href="/bootcards-demo-app/images/bootcards-splash-768x1004.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: landscape)
             and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 & 7 iPhone 5 -->
    <link href="/bootcards-demo-app/images/bootcards-splash-320x548@2x.png"
          media="(device-width: 320px) and (device-height: 568px)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 & 7 iPhone (retina) -->
    <link href="/bootcards-demo-app/images/bootcards-splash-320x460@2x.png"
          media="(device-width: 320px) and (device-height: 480px)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 iPhone -->
    <link href="/bootcards-demo-app/images/bootcards-splash-320x460.png"
          media="(device-width: 320px) and (device-height: 480px)
             and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">


    <title>AppName</title>
    <!-- 1.1.2 -->

    <!-- Load the required CSS libraries -->

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <!-- bootstrap -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootcards CSS file (different for desktop, iOS and Android, included Bootstrap CSS) -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.2/css/bootcards-desktop.min.css" rel="stylesheet"
          type="text/css"/>

    <!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" rel="stylesheet" /> -->

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>

    <script>var isDesktop = true;</script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <!--<script src="/bower_components/jquery/dist/jquery.min.js"></script>-->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>


    <!-- Bootcards JS file -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.2/js/bootcards.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
    <script src="d3pie.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-morris/1.3.0/angular-morris.min.js"></script>
    <script src="/controller/routeConfig.js"></script>
    <script src="/controller/dashboardController.js"></script>
    <script src="/controller/chartsController.js"></script>
    <script src="/controller/filesController.js"></script>
    <script src="/controller/patientsController.js"></script>
    <script src="/controller/settingsController.js"></script>
    <script src="/controller/patientFormController.js"></script>
    <script src="/controller/hidingController.js"></script>
    <script src="/controller/authController.js"></script>
    <script src="/controller/adduserController.js"></script>
    <script src="/controller/notesController.js"></script>
    <script src="/controller/reviewController.js"></script>



</head>

<!-- -->
<body>
<!-- fixed top navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="hidingController"
     ng-show="$root.showNavbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <button type="button" class="btn btn-default btn-back navbar-left pull-left hidden" onclick="history.back()">
            <i class="fa fa-lg fa-chevron-left"></i><span>Back</span>
        </button>
        <!-- menu button to show/ hide the off canvas slider -->
        <button type="button" class="btn btn-default btn-menu navbar-left pull-left offCanvasToggle"
                data-toggle="offcanvas">
            <i class="fa fa-lg fa-bars"></i><span>Menu</span>
        </button>

        <a class="navbar-brand no-break-out" title="AppName" href="#dashboard">AppName</a>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#dashboard" data-title="Dashboard">
                        <i class="fa fa-dashboard"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="#patients" data-title="Patients">
                        <i class="fa fa-users"></i>
                        Patients
                    </a>
                </li>
                <li>
                    <a href="#files" data-title="Files">
                        <i class="fa fa-clipboard"></i>
                        Files
                    </a>
                </li>
                <li>
                    <a href="#charts" data-title="Charts">
                        <i class="fa fa-bar-chart-o"></i>
                        Charts
                    </a>
                </li>
                <li>
                    <a href="#settings" data-title="Settings">
                        <i class="fa fa-gears"></i>
                        Settings
                    </a>
                </li>
                <li>
                    <a ng-click="$event.preventDefault();logout()" data-title="Logout">
                        <i class="fa fa-gears"></i>
                        Logout
                    </a>
                </li>
               <!-- <li>
                    <a href="#patientForm" data-title="Patient Form">
                        <i class="fa fa-users"></i>
                        Patient Form
                    </a>
                </li>-->
            </ul>
        </div>
    </div>
</div>
<!-- -->
<div class="ng-view">

    <!-- app pages load here -->
</div>
</body>
</html>