<div id="patientsDiv" ng-controller="patientFormController">


    <div class="container bootcards-container" id="main">

        <div class="row">

            <div class="col-sm-6 col-sm-offset-1 bootcards-cards">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">Patient Feedback Form</h3>
                        <a class="btn btn-primary pull-right" ng-click="$event.preventDefault();clearClicked()">
                            Clear
                        </a>
                        <a class="btn btn-primary pull-right" ng-click="$event.preventDefault();predictClicked()"
                           style="margin-right: 15px">
                            Predict
                        </a>


                    </div>

                    <div class="list-group">
                        <div class="list-group-item">
                            <label class="list-group-item-text">Gender</label>
                            <div class="list-group-item-heading">
                                <label>
                                    <input type="radio" ng-model="patientFormData.gender"  ng-disabled="true" value="Male">
                                    Male
                                </label><br/>
                                <label>
                                    <input type="radio" ng-model="patientFormData.gender"  ng-disabled="true" value="Female">
                                    Female
                                </label><br/>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <label class="list-group-item-text">Age Category</label>
                            <div class="list-group-item-heading">
                                <label>
                                    <input type="radio" ng-model="patientFormData.ageCategory"  ng-disabled="true" value="Adult">
                                    Adult
                                </label><br/>
                                <label>
                                    <input type="radio" ng-model="patientFormData.ageCategory"  ng-disabled="true" value="Old">
                                    Old
                                </label><br/>
                                <label>
                                    <input type="radio" ng-model="patientFormData.ageCategory"  ng-disabled="true" value="Young">
                                    Young
                                </label><br/>
                            </div>
                        </div>



                        <div class="list-group-item">
                            <label class="list-group-item-text">Admisson Type</label>
                            <div class="list-group-item-heading">
                                <select name="admissionType" id="admissionType"
                                        ng-options="admissionTypeOption for admissionTypeOption in patientFormData.admissionTypeOptions"
                                        ng-model="patientFormData.admissionTypeSelected"
                                        ng-disabled="true">
                                </select>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <label class="list-group-item-text">Insulin</label>
                            <div class="list-group-item-heading">
                                <select name="insulin" id="insulin"
                                        ng-options="insulinOption for insulinOption in patientFormData.insulinOptions"
                                        ng-model="patientFormData.insulinSelected">
                                </select>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <label class="list-group-item-text">Diabetes Med</label>
                            <div class="list-group-item-heading">
                                <label>
                                    <input type="radio" ng-model="patientFormData.diabetesMed" value="Yes">
                                    Yes
                                </label><br/>
                                <label>
                                    <input type="radio" ng-model="patientFormData.diabetesMed" value="No">
                                    No
                                </label><br/>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <label class="list-group-item-text">Tiredness</label>
                            <div class="list-group-item-heading">
                                <select name="tiredness" id="tiredness"
                                        ng-options="tirednessOption for tirednessOption in patientFormData.tirednessOptions"
                                        ng-model="patientFormData.tirednessSelected">
                                </select>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <label class="list-group-item-text">Frequent Urination</label>
                            <div class="list-group-item-heading">
                                <select name="frequentUrinationOption" id="frequentUrinationOption"
                                        ng-options="frequentUrinationOptions for frequentUrinationOptions in patientFormData.frequentUrinationOptions"
                                        ng-model="patientFormData.frequentUrinationSelected">
                                </select>
                            </div>
                        </div>


                        <div class="list-group-item">
                            <label class="list-group-item-text">Frequent Exercise</label>
                            <div class="list-group-item-heading">
                                <select name="frequentExerciseOptions" id="frequentExerciseOptions"
                                        ng-options="frequentExerciseOptions for frequentExerciseOptions in patientFormData.frequentExerciseOptions"
                                        ng-model="patientFormData.frequentExerciseSelected">
                                </select>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <label class="list-group-item-text">Frequent Blurry Vision</label>
                            <div class="list-group-item-heading">
                                <select name="frequentBlurryVisionOptions" id="frequentBlurryVisionOptions"
                                        ng-options="frequentBlurryVisionOptions for frequentBlurryVisionOptions in patientFormData.frequentBlurryVisionOptions"
                                        ng-model="patientFormData.frequentBlurryVisionSelected">
                                </select>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <label class="list-group-item-text">Notes</label>
                            <div class="list-group-item-heading">
                                <textarea rows="4" cols="50" ng-model="patientFormData.notes"/>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
<!--
            <div class="col-sm-4 col-sm-offset-1 bootcards-cards">
                <div>

                    <div class="panel panel-default bootcards-chart">

                        <div class="panel-heading">
                            <h3 class="panel-title">Chances of Readmission</h3>
                        </div>

                        <div>
                            <div
                                    donut-chart
                                    donut-data=patientFormData.chart1Data
                                    donut-label-color='"#000000"'
                                    donut-background-color='"#ffffff"'
                                    donut-colors='["#31C0BE","white"]'
                                    donut-formatter='percentfilter'>
                            </div>
                        </div>
                    </div>

                </div>
            </div>-->

        </div>
    </div>
</div>

 