<div id="reviewDiv" ng-controller="reviewController">


  <div class="container bootcards-container" id="main">
    
<div class="row">

  <div class="col-sm-6  bootcards-cards">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Patient Review Form</h3>
        <a href="#" class="btn btn-primary pull-right" ng-click="$event.preventDefault();clearClicked()" >
          Done
        </a>
        <a href="#" class="btn btn-primary pull-right" ng-click="$event.preventDefault();predictClicked()" style="margin-right: 15px">
          Schedule Follow Up
        </a>  
      </div>

      <div class="list-group">
        <div class="list-group-item">
          <label >Gender: </label>
          <label >{{reviewScreen.gender}}</label>
        </div>

        <div class="list-group-item">
          <label >Age Category: </label>
          <label >{{reviewScreen.ageCategory}}</label>
        </div>

        <div class="list-group-item">
          <label >Race: </label>
          <label >{{reviewScreen.raceSelected}}</label>
        </div>

        <div class="list-group-item">
          <label >Admisson Source: </label>
          <label >{{reviewScreen.admissionSourceSelected}}</label>
        </div>

        <div class="list-group-item">
          <label >Admisson Type: </label>
          <label >{{reviewScreen.admissionTypeSelected}}</label>
        </div>

        <div class="list-group-item">
          <label >Insulin: </label>
          <label >{{reviewScreen.insulinSelected}}</label>
        </div>

        <div class="list-group-item">
          <label >Diabetes Med: </label>
          <label >{{reviewScreen.diabetesMed}}</label>
        </div>

        <div class="list-group-item">
          <label >Discharge Disposition: </label>
          <label >{{reviewScreen.dischargeDispositionSelected}}</label>
        </div>

        <div class="list-group-item">
          <label >Medical Speciality: </label>
          <label >{{reviewScreen.medicalSpecialitySelected}}</label>
        </div>

        <div class="list-group-item">
          <label >Payer Code: </label>
          <label >{{reviewScreen.payerCodeSelected}}</label>
        </div>

       
        
      </div>
    </div>
  </div>

  <div class="col-sm-3 bootcards-cards" >
      
        <div  class="panel panel-default bootcards-chart">
          
          <div class="panel-heading">
            <h3 class="panel-title">Chances of Readmission</h3>         
          </div>
      
            <div
              donut-chart
              donut-data = reviewScreen.chart1Data
              donut-label-color='"#000000"' 
              donut-background-color='"#ffffff"' 
              donut-colors='["#31C0BE","white"]'
              donut-formatter= 'percentfilter' class="bootcards-chart-canvas">
              </div>
         
    </div>
  </div>

  <div class="col-sm-3 bootcards-cards" >
      
        <div  class="panel panel-default bootcards-chart">
          
          <div class="panel-heading">
            <h3 class="panel-title">Notes:</h3>         
          </div>
      
            <div>
            <div class="panel-body" >
              <div class="row">
                <div >
                  <textarea class="form-control" rows="6" style="border: none; !important; resize: none"></textarea>
                </div>
              
              </div>
            </div>
              </div>
         
    </div>
  </div>

</div>

  <div class="row">
    
  </div>
  </div>
</div>

 