<div id="settingsDiv" ng-controller="settingsController">


  <div class="container bootcards-container" id="main">
    
<div class="row">

  <div class="col-sm-4 col-sm-offset-4 bootcards-cards">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Settings</h3>
        <a href="#" class="btn btn-success pull-right" ng-click="$event.preventDefault();saveClicked()" ng-show="settingsData.isEditClicked">
          Save
        </a>
        <a href="#" class="btn btn-primary pull-right" ng-click="$event.preventDefault();editClicked()" ng-hide="settingsData.isEditClicked">
          Edit
        </a>
      </div>

      <div class="list-group">
        <div class="list-group-item">
          <label class="list-group-item-text">Old password</label>
          <div class="list-group-item-heading">
            <input type="password" name="name" class="form-control" placeholder="Old Password"
            ng-model="settingsData.oldpwd" ng-disabled="!settingsData.isEditClicked">
          </div>
        </div>
        <div class="list-group-item">
          <label class="list-group-item-text">New Password</label>
          <div class="list-group-item-heading">
            <input type="password" name="name" class="form-control" placeholder="New Password"
            ng-model="settingsData.newpwd" ng-disabled="!settingsData.isEditClicked">
          </div>
        </div>

        <div class="list-group-item" ng-show="isChanged">
          <div class="alert alert-success">
            <strong>{{msg}}</strong>
          </div>
        </div>

        <div class="list-group-item" ng-show="isWrong">
          <div class="alert alert-danger">
            <strong>{{msg}}</strong>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
  </div>
</div>

 